.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .label {
    width: 140px;
  }

  > input[type='text'] {
    min-height: 30px;
    flex: 1;
    border: 2px solid gray;
    border-radius: 4px;
  }

  app-map {
    display: flex;
    flex: 1;
  }

  ng-select {
    flex: 1;
  }

  &.form-row-margin-top {
    margin-top: 10px;
  }
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  flex: 1;
  border: 2px solid powderblue;
  border-top: 30px solid powderblue;
  border-radius: 4px;
  display: inline-block;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    height: inherit;
  }
}

.btn-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  padding: 0 50px;

  .save-btn {
    background-color: darkcyan;
    color: white;
    padding: 12px 0;
    width: 100px;
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .cancel-btn {
    background-color: powderblue;
    color: white;
    padding: 12px 0;
    width: 100px;
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
  }
}
