@import "/src/assets/styles/variables";

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .label {
    width: $label-width;
    font-size: $font-size-sm;
  }

  > input[type='text'] {
    min-height: $input-height;
    flex: 1;
    border: $border-size solid $gray-color;
    border-radius: $border-radius-sm;
    font-family: 'Roboto Mono';
    font-size: $font-size-base;
    padding-left: $padding-2;
  }

  app-map {
    display: flex;
    flex: 1;
  }

  ng-select {
    flex: 1;
  }

  &.form-row-margin-top {
    margin-top: $margin-2;
  }
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  flex: 1;
  border: $border-size solid $primary-color;
  border-top: 30px solid $primary-color;
  border-radius: $border-radius-sm;
  display: inline-block;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    height: inherit;
  }
}

.btn-container {
  display: flex;
  justify-content: end;
  margin-top: $margin-2;
  padding: 0 $padding-5;

  .save-btn {
    background-color: $secondary-color;
    color: $white-color;
    padding: $padding-2 0;
    width: $button-width;
    border-radius: $border-radius-sm;
    border: 0;
    margin-top: $margin-1;
    margin-left: $margin-1;
    font-size: $font-size-base;
    cursor: pointer;
  }

  .cancel-btn {
    background-color: $primary-color;
    color: $white-color;
    padding: $padding-2 0;
    width:  $button-width;
    border-radius: $border-radius-sm;
    border: 0;
    margin-top: $margin-1;
    font-size: $font-size-base;
    cursor: pointer;
  }
}
