@import "/src/assets/styles/variables";

.map-container {
  height: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.map-frame {
  border: $border-size solid $gray-color;
  border-radius: $border-radius-sm;
  width: 100%;
}

#map {
  height: 100%;
}
