/* spacings */
$padding-1: 0.6rem;
$padding-2: 0.7rem;
$padding-3: 1.3rem;
$padding-4: 2.8rem;
$padding-5: 3rem;

$margin-1: 0.6rem;
$margin-2: 0.7rem;
$margin-3: 1.3rem;
$margin-4: 2.8rem;
$margin-5: 3rem;

/* borders */
$border-size: 0.125rem;
$border-radius-sm: 0.25rem;
$border-radius-xl: 0.5rem;

/* colors */
$primary-color: powderblue;
$secondary-color: darkcyan;
$white-color: white;
$gray-color: gray;

/* fonts */
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.4;
$font-size-sm: $font-size-base * 0.8;

/* labels */
$label-width: 140px;

/* inputs */
$input-height: 30px;

/* buttons */
$button-width: 100px;
